{% extends '__base__.html' %}
{% load i18n %}
{% block title %}Zbiórki{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="row m-4">
            <a class="btn btn-success" href="{% url 'fundraiser_create' %}">Dodaj</a>
        </div>
    {% else %}
        Zaloguj się, aby móc dodawać zbiórki.
    {% endif %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-sm-3 my-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span class="badge bg-info">{{ object.category.name }}</span>
                            {{ object.name }}
                        </h5>
                        <p class="card-text">
                            Zebrano {{ object.transaction_sum }}zł z {{ object.purpose }}zł<br>
                            <span class="badge bg-info"><i class="bi bi-person-circle"></i> {{ object.owner.first_name }} {{ object.owner.last_name }}</span><br>
                            <span class="badge bg-info"><i class="bi bi-chat-quote-fill"></i> {{ object.comment_set.count }}</span>
                            <span class="badge bg-success"><i class="bi bi-emoji-laughing-fill"></i> {{ object.votes_positive }}</span>
                            <span class="badge bg-danger"><i class="bi bi-emoji-frown-fill"></i> {{ object.votes_negative }}</span>
                        </p>
                        <a href="{% url 'fundraiser_detail' object.pk %}" class="btn btn-primary">Pokaż więcej</a>
                        {% if user.pk == object.owner.pk %}
                            <a href="{% url 'fundraiser_update' object.pk %}" class="btn btn-primary">Edytuj</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            Brak zbiórek.
        {% endfor %}
    </div>
{% endblock %}