{% extends '__base__.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
    <div class="row my-4">
        <h1>{{ object.name }}</h1>
        <div class="row">{% translate 'Category' %}: {{ object.category.name }}</div>
        <div class="row">{% translate 'Author' %}: {{ object.owner.first_name }} {{ object.owner.last_name }}</div>
        <div class="row">{% translate 'Collected' %}: {{ object.transaction_sum }}zł / {{ object.purpose }}zł</div>
        <div class="row">{% translate 'Votes' %}:
            <div class="row">
                <div class="col-1">
                    <form action="{% url 'fundraiser_vote' object.id %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="up">
                        <button type="submit" class="btn">
                            <span class="badge bg-success"><i
                                    class="bi bi-emoji-laughing-fill"></i> {{ object.votes_positive }}</span>
                        </button>
                    </form>
                </div>
                <div class="col-1">
                    <form action="{% url 'fundraiser_vote' object.id %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <input type="hidden" name="vote" value="down">
                        <button type="submit" class="btn">
                            <span class="badge bg-danger"><i
                                    class="bi bi-emoji-frown-fill"></i> {{ object.votes_negative }}</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">{% translate 'Description' %}: {{ object.description|safe }}</div>

        <div class="card text-dark">
            <div class="card-body p-4">
                <h4 class="mb-0">{% translate 'Transactions' %}</h4>
            </div>
            <div class="card-body p-4">
                {% crispy transaction_form %}
            </div>
            <hr class="my-0"/>
            {% for transaction in object.transaction_set.all %}
                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <div>
                            <h6 class="fw-bold mb-1">
                                {{ transaction.get_user_name }}
                            </h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    {{ transaction.created_at }}
                                </p>
                            </div>
                            <p class="mb-0">
                                {% translate 'Amount' %}: {{ transaction.amount }}zł<br>
                                {{ transaction.comment }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="my-0"/>
                {% endif %}
            {% endfor %}
        </div>

        <div class="my-4"></div>

        <div class="card text-dark">
            <div class="card-body p-4">
                <h4 class="mb-0">{% translate 'Comments' %}</h4>
            </div>
            <div class="card-body p-4">
                {% crispy comment_form %}
            </div>
            <hr class="my-0"/>
            {% for comment in object.comment_set.all %}
                <div class="card-body p-4">
                    <div class="d-flex flex-start">
                        <div>
                            <h6 class="fw-bold mb-1">
                                {{ comment.get_user_name }}
                            </h6>
                            <div class="d-flex align-items-center mb-3">
                                <p class="mb-0">
                                    {{ comment.created_at }}
                                </p>
                            </div>
                            <p class="mb-0">
                                {{ comment.message }}
                            </p>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="my-0"/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}